@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&family=Dancing+Script&family=Martian+Mono:wght@100;200&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Roboto+Mono:wght@700&family=Skranji:wght@700&display=swap');

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: black;
    font-weight: bolid;
}


.custom-navbar {
    border-bottom: 3px solid rgb(216, 223, 223);
    background-color: #fff;
    padding: 15px 0px;
    width: 100%;
}

.custom-form-control, .dropdown  a.custom-btn {
    border: 1px solid #ebebeb;
    box-shadow: none; 
    border-radius: 2px;
    color: #868686;
    height: 38px;
    padding: 6px 16px 7px;
    transition: all .5s ease;
}
.custom-form-control:focus{
    border-color: #c2101e;
    box-shadow: 0 0 2px 0 #c2101e;
}
.dropdown  a.custom-btn:hover{
    background-color: #adadad;
    border: 1px solid #8c8c8c;
    color: #ff3956;
}
.dropdown  a.custom-btn {
    border-left: 0 !important;
    border-radius: 0px;
}
.dropdown  a.custom-btn:focus{
    color: #ff3956;
}
.custom-dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #ebebeb;
    color: #777;
}

.search-btn {
    background-color: #ff3956;
    border-color: #ff3956;
    color: #fff;
    padding: 5px 7px;
    height: 38px;
    width: 65px;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
.search-btn:hover,
.search-btn:focus,
.search-btn:active,
.search-btn:active:focus,
.search-btn:active:hover{
    background-color: #c2101e;
    border-color: #c2101e;
    color: #fff;
}

.nav-link {
    color: #555555;
    font-size: 14px;
    padding: 15px;
}
.custom-navbar .navbar-nav li.nav-item a.active {
    color: #ff3956;
    font-weight: 700;
    border-bottom: 1px solid #ff3956;
}
.custom-navbar .navbar-nav li.nav-item a.active:hover{
    background-color: #e7e7e7;
}
.custom-dropdown-menu li a:hover {
    background-color: #ffe7ea;
}

.custom-navbar .btn-icon {
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 15px;
}

/*carousel*/

#carousel-featured{
    background-color: #f7f8f3;
    height: 400px;
    padding-top: 25px;
}

#carousel-featured .carousel-item img{
    height: 375px;
}
#carousel-featured .product-detail {
    border: 1px solid #dddddb;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
    background-color:#f7f8f3 ;
}
#carousel-featured .product-detail .product-category{
    border: 1px solid #dddddb;
    pad: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #f7f8f3;
}

#carousel-featured .product-detail h1 {
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
}
.custom-btn-outline-warning {
    background-color: transparent;
    border-color: #f8ad47;
    color: #f8ad47 ;
}

.custom-btn-outline-warning:hover,
.custom-btn-outline-warning:focus,
.custom-btn-outline-warning:active,
.custom-btn-outline-warning:active:focus,
.custom-btn-outline-warning:active:hover {
    border-color: #b86d07;
    color: #b86d07;
}
.sale {
    background-color: #53ccd7;
    color: #fff;
    font-weight: bold;
    position: absolute;
}
.sale.large{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    right: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    padding:35px ;
    line-height: 90%;
    flex-direction: column;
    transform: rotate(25deg);
}
.sale.large span {
    font-size: 10px;
}


.castum-carousel-indecator{
    top: 235px;
    left: 41%;
}
.castum-carousel-indecator-primary {
    height: 70px !important;
    width: 70px !important;
    opacity: 1 !important;
    border: 2px solid #dddddb !important;
    margin: 0 !important;
    margin-right: 5px;
}
.castum-carousel-indecator-primary.active {
    border-color: #f8ad47 !important;
}

#carousel-featured .carousel-control-prev .fa-chevron-left,
#carousel-featured .carousel-control-next .fa-chevron-right {
    color: #868686;
    font-size: 38px;
}

#stor-features {
    box-shadow: 0 0 15px #ffe7ea;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    position: relative;
    top: -30px;
    background-size: auto 60px;
    background-color: #fff;
    padding-bottom: 35px;
    padding-top: 25px;
    background-position: -10px -10px;
}

#stor-features .feature>img {
    height: 40px;
    margin-bottom: 10px;
}
#stor-features .feature+.feature{
    border-left: 1px solid #eef0ea;
} 